{% extends "member/mindex.html" %}
{%block hdemo%}
add new complaint 
{%endblock%}
{%block mdemo%}

  <div class="container">
    <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
          <form  class="main_form" action='/addmcomplaint/' method='post'>
            {% csrf_token%} 
            <div class="row">
                {% comment %} <div class="col-md-2 ">
                    <label><h3 style="margin-top:20px">Name:</h3></label>
                </div> {% endcomment %}
                 <div class="col-md-12 ">
                   {% comment %} <input class="contactus" placeholder="member" type="type" name="Name">  {% endcomment %}
                    <select name='mname'
                    class="contactus"
                    {% comment %} style="width: 100%; height: 36px"
                    > {% endcomment %}>
                    {%for member in members%}
                    <option value='{{member.member_id}}'>{{member.name}}</option>
                    {%endfor%}
                    </select>
                </div>
                <div class="col-md-12">
                   <input class="contactus" placeholder="Description" type="type" name="desc"> 
                </div>
                <div class="col-md-12">
                   <input class="contactus" placeholder="Complaint date" type="date" name="cdt">                          
                </div>
                {% comment %} <div class="col-md-12">
                  <input class="contactus" placeholder="Status" type="type" name="st">                          
               </div>
               <div class="col-md-12">
                <input class="contactus" placeholder="Solution date" type="date" name="sdt">                          
             </div> {% endcomment %}
             {% comment %} <div class="col-md-12 ">
             <select name='cname'
                  class="contactus"
                  style="width: 100%; height: 36px"> 
                  
                  {% for committee in committees %}
                        
                    <option value='{{committee.committeedetails.committee_id}}'>{{committee.committeedetails.work_of_committee}}</option>
                        
                  {% endfor %}
               </select>
              </div> {% endcomment %}
                {%comment%}<div class="col-md-12">
                   <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                </div> {%endcomment%}
                <div class="col-md-12">
                   <button class="send_btn" type='submit'>submit</button>
                </div>
             </div>
          </form>
       </div>
       
    </div>
  </div>
    {% endblock%}
    
    
    