{% extends "member/mindex.html" %}
{%block hdemo%}
committee of society
{%endblock%}
{%block mdemo%}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
        
            <table
              id="zero_config"
              class="table table-striped table-bordered"
            >
              <thead>
                <tr>
                    <th class="card-title">Committee_id</th>
                    <th class="card-title">Work_of_committee</th>
                    <th class="card-title">No_of_members</th>
                    <th class="card-title">Committee_creation_date</th>
                    
                    <th class="card-title">show committee detail</th>
                    <th class="card-title">show committee</th>
                </tr>
              </thead>
              <tbody>
             
                    {% for committee in committees%}
                    <tr>
                        <td>{{committee.committee_id}}</td>
                        <td>{{committee.work_of_committee}}</td>
                        <td>{{committee.no_of_members}}</td>
                        <td>{{committee.committee_creation_date}}</td>
                     
                        <td><a href='/committeedetail/{{committee.committee_id}}/' class="me-2 mdi mdi-eye-outline">show committee detail</a></td>
                        <td><a href='/editcommittee/{{committee.committee_id}}/' class="me-2 mdi mdi-eye-outline">show committee</a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            </div>
        </div>
   
        {% endblock%}  