{% extends "member/mindex.html" %}
{%block hdemo%}
bank deposit
{%endblock%}
{%block mdemo%}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table
              id="zero_config"
              class="table table-striped table-bordered"
            >
              <thead>
                <tr>
                    <th class="card-title">Deposit id</th>
                    <th class="card-title">Bank name</th>
                    <th class="card-title">Description</th>
                    <th class="card-title">Rate</th>
                    <th class="card-title">Deposit amount</th>
                    <th class="card-title">Deposit date</th>
                    <th class="card-title">Maturity date</th>
                    {% comment %} <th class="card-title">Show all Details</th> {% endcomment %}
                </tr>
              </thead>
              <tbody>
             
                    {% for deposit in deposits%}
                    <tr>
                        <td>{{deposit.deposit_id}}</td>
                        <td>{{deposit.bank_name}}</td>
                        <td>{{deposit.description}}</td>
                        <td>{{deposit.rate}}</td>
                        <td>{{deposit.deposit_amount}}</td>
                        <td>{{deposit.deposit_date}}</td>
                        <td>{{deposit.maturity_date}}</td>
                        {% comment %} <td><a href='/editdeposit/{{deposit.deposit_id}}/'> <i class="me-2 mdi mdi-border-color"> edit</i></a></td> {% endcomment %}
                        
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            
              </div>
            </div>
    {% endblock %}