{% extends "visitor/index.html" %}
{% block demo %}
{% comment %}<h2 class="card-title">Table</h2>{% endcomment %}

<div class="mt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>Our <span class="orange-text">Committee Members</span></h3>
        </div>
      </div>
    </div>
    <div class="row">
      
      {% for committee in committees%}
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div align='center'><img src="{{committee.member.profile}}" style='height:200px;width:70%'/><center>
          <h4 align='center'>Name:{{committee.member.name}}<span>Committee:{{committee.committee.work_of_committee}}</span></h4>
          <h4><span>Contact no.:{{committee.member.contact_no_field}}</span></h4></center></div>
          {% comment %} <ul class="social-link-team">
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul> {% endcomment %}
        </div>
      </div>
      {%endfor%}
     
    </div>
  </div>
</div>
{% endblock %}