{% extends "index1.html" %}
{% block demo %}
<div class="row">
  
    <div class="col-md-12">
      <div class="card">
        <form  action='/addnotice/' method='post' class="form-horizontal">
          {% csrf_token %}
            <div class="card-body">
              <h2 class="card-title"><h3 align='center'>Add new notice</h3></h2>           
              <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                > <h4>committee</h4></label
              >
              <div class="col-sm-9">
                <select name='txtcommittee'
                class="select2 form-select shadow-none"
                style="width: 100%; height: 36px">
                {%for committee in committees%}
                <option value="{{committee.committee_id}}">{{committee.work_of_committee}}</option>
                {%endfor%}
             </select>
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>description</h4></label
              >
              <div class="col-sm-9">
                <input
                type='text' 
                name='txtdesc'
                  class="form-control"
                  id="lname"
                  placeholder="place"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>date</h4></label
              >
              <div class="col-sm-9">
                <input
                type='date' 
                name='txtdate'
                  class="form-control"
                  id="lname"
                  placeholder="amount"
                  required
                />
              </div>
            </div>
           
          <div class="border-top">
            <div class="card-body">
            <center><button type="submit" class="btn btn-primary" onclick='alert("Added succefully")'>
                Submit
              </button></center>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock%}
