{% extends "index1.html" %}
{% block demo %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><h3>Advertisement</h3> </h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
                <th class="card-title"><h4>Id</h4></th>
                <th class="card-title"><h4>Member</h4></th>
                <th class="card-title"><h4>Date</h4></th>
                <th class="card-title"><h4>Description</h4></th>
                <th class="card-title"><h4>Status</h4></th>
                <th class="card-title"><h4>More detail</h4></th>
            </tr>
          </thead>
          <tbody>
         
                {% for advertisement  in advertisements%}
                <tr>
                    <td><h5>{{advertisement.advertise_id}}</h5></td>
                    <td><h5>{{advertisement.member.name}}</h5></td>
                    <td><h5>{{advertisement.date}}</h5></td>
                    <td><h5>{{advertisement.description}}</h5></td>
                    <td><h5>{{advertisement.status}}</h5></td>
                    
                    <td><a href='/editadvertisement/{{advertisement.advertise_id}}/'><i class="me-2 mdi mdi-border-color">More detail</i></a></td>
                    
                </tr>
                {% endfor%}
            </tbody>
        </table>
            
          
          </div>
        </div>
{% endblock %}