{% extends "index1.html" %}
{% block demo %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><h3>Booking</h3> </h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
                <th class="card-title"><h4>booking_id</h4></th>
                <th class="card-title"><h4>member</h4></th>
                <th class="card-title"><h4>starting_date</h4></th>
                <th class="card-title"><h4>ending_date</h4></th>
                
                <th class="card-title"><h4>event_name</h4></th>
                <th class="card-title"><h4>booking_date</h4></th>
                <th class="card-title"><h4>status</h4></th>
                <th class="card-title"><h4>total</h4></th>
                
                <th class="card-title">show booking delails</th>
                <th class="card-title">show booking </th>
              </tr>
          </thead>
          <tbody>
         
                {% for booking  in bookings%}
                <tr>
                    <td><h5>{{booking.booking_id}}</h5></td>
                    <td><h5>{{booking.member.name}}</h5></td>
                    <td><h5>{{booking.starting_date}}</h5></td>
                    <td><h5>{{booking.ending_date}}</h5></td>
                    
                    <td><h5>{{booking.event_name}}</h5></td>
                    <td><h5>{{booking.booking_date}}</h5></td>
                    <td><h5>{{booking.status}}</h5></td>
                    <td><h5>{{booking.total}}</h5></td>
                    
                    <td><a href='/bookingdetail/{{booking.booking_id}}/' class="me-2 mdi mdi-eye-outline">show booking details</a></td>
                    <td><a href='/editbooking/{{booking.booking_id}}/' class="me-2 mdi mdi-eye-outline">show booking</a></td>
                    
                </tr>
                {% endfor%}
            </tbody>
        </table>
       
       
        
          </div>
        </div>
{% endblock %}