{% extends "index1.html" %}
{% block demo %}
<div class="row">
  
    <div class="col-md-12">
      <div class="card">
        <form  action='/editincome/{{income.income_id}}/' method='post' class="form-horizontal">
          {% csrf_token %}
           <div class="card-body">
            <h2 class="card-title"><h3 align='center'>Edit income</h3></h2>
          <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                > <h4>member_maintenance</h4></label
              >
              <div class="col-sm-9">
                
                <input
                  type="radio"
                  class="form-check-input"
                  id="customControlValidation1"
                  name="itype"
                  value='maintenance'
                  {% if income.member_maintenance %}
                    checked
                  {% endif %}
                    
             
                />
                
                <label
                  class="form-check-label mb-0"
                  for="customControlValidation1"
                  ><h4>maintenance</h4></label
                >
                <select name='mname'
                class="select2 form-select shadow-none"
                style="width: 100%; height: 36px">
                {%for membermaintenance in membermaintenances%}
                {% if membermaintenance == income.member_maintenance%}
                    <option value='{{membermaintenance.member_maintenance_id}}' selected>{{membermaintenance.maintenance.month_year}}</option>
                  {% else %}
                    <option value='{{membermaintenance.member_maintenance_id}}' >{{membermaintenance.maintenance.month_year}}</option>

                  {% endif %}
                {%endfor%}
                
              </select>
                </div>
          </div>
         
          <div class="form-group row">
         
                <label
                  for="fname"
                  class="col-sm-3 text-end control-label col-form-label"
                  > <h4>booking</h4></label
                >
                <div class="col-sm-9">
                  
                  <input
                    type="radio"
                    class="form-check-input"
                    id="customControlValidation2"
                    name="itype"
                    value='booking'
                    {% if income.booking %}
                    checked
                    {% endif %}
                    
                  />
                  <label
                    class="form-check-label mb-0"
                    for="customControlValidation2"
                    ><h4>booking</h4></label
                  >
                  <select name='bname'
                  class="select2 form-select shadow-none"
                  style="width: 100%; height: 36px">
                  {%for booking in bookings%}
                  
                        {% if booking == income.booking %}
                 
                    <option value='{{booking.booking_id}}' selected>{{booking.event_name}}</option>
                  {%else%}
                  <option value='{{booking.booking_id}}' >{{booking.event_name}}</option>
                  {%endif%}
                  {%endfor%}
                 
            </select>
            </div>
          </div>
     
          
          <div class="form-group row">
            
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                > <h4>deposit</h4></label
              >
              <div class="col-sm-9">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="customControlValidation2"
                    name="itype"
                    value='deposit'
                    {% if income.deposit %}
                    checked
                    {% endif %}
                  
                  />
                  <label
                    class="form-check-label mb-0"
                    for="customControlValidation2"
                    ><h4>deposit</h4></label
                  >
                  <select name='dname'
                    class="select2 form-select shadow-none"
                    style="width: 100%; height: 36px">
                    {%for deposit in deposits%}
                    {% if deposit == income.deposit%}
                        <option value='{{deposit.deposit_id}}' selected>{{deposit.description}}</option>
                    {%else%}
                    <option value='{{deposit.deposit_id}}' >{{deposit.description}}</option>

                    {% endif%}
                        {%endfor%}
                  </select>
              </div>
            </div>
        
            
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                > <h4>other</h4></label
              >
              
              <div class="col-sm-9">
                
                  <input
                    type="radio"
                    class="form-check-input"
                    id="customControlValidation2"
                    name="itype"
                    value='other'
                    {% if income.society_event_fund %}
                    checked
                    {% endif%}
                    
                  />
                  <label
                    class="form-check-label mb-0"
                    for="customControlValidation2"
                    ><h4>other</h4></label
                  >
              <select name='ot'
                class="select2 form-select shadow-none"
                style="width: 100%; height: 36px">
                
                
                {% for lst in lst1%}
                {%if lst == income.society_event_fund%}
                  <option value='{{lst}}' selected>{{lst}}</option>
                {%else%}
                <option value='{{lst}}' >{{lst}}</option>
                    {%endif%}
                  {% endfor %}
                
              </select>
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>date</h4></label
              >
              <div class="col-sm-9">
                <input
                type='date' 
                name='dt'
                  class="form-control"
                  id="lname"
                  placeholder=""
                  value="{{income.date|date:'Y-m-d'}}"
                  
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>amount</h4></label
              >
              <div class="col-sm-9">
                <input
                type='number' 
                name='amt'
                  class="form-control"
                  id="lname"
                  placeholder=""
                  value='{{income.amount}}'
                  
                />
              </div>
            </div>
           
          <div class="border-top">
            <div class="card-body">
              <center>
                <button type="submit" class="btn btn-primary">
                  <i class="me-2 mdi mdi-border-color"> Update
                  </i>
                </button>
                <button class="btn btn-primary">
                  <i class="me-2 mdi mdi-delete">
                    <a href='/deleteincome/{{income.income_id}}/' 
                    onclick="return confirm ('Do you want to delete this row?')" 
                    style="color:white">Delete 
                  </i></a>
                </button> 
                <button class="btn btn-primary">
                  <i class="me-2 mdi mdi-arrow-left">
                    <a href="/income/"
                    style="color:white">Back 
                  </i></a>
                </button>
               
                      &nbsp;<button type="reset" class="btn btn-primary"><i class="me-2 mdi mdi-restart">
                        Reset
                        </i>
                      </button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock%}
