{% extends "index1.html" %}
{% block demo %}
<div class="row">
  
    <div class="col-md-12">
      <div class="card">
        <form  action='/editmemberfunction/{{memberfunction.member_function_id}}/' method='post' class="form-horizontal">
          {% csrf_token %}
            <div class="card-body">
              <h2 class="card-title"><h3 align='center'>Edit function</h3></h2>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>function  with id</h4></label
              >
              <div class="col-sm-9">
                <select name='txtfid'
                class="select2 form-select shadow-none"
                style="width: 100%; height: 36px">
                
                {%for function in functions%}
                    {% if function == memberfunctions.function %}
                         <option value="{{function.function_id}}" selected readonly>{{function.function_name}}</option>
                     {% else%}
                        <option value="{{function.function_id}}">{{function.function_name}}</option>  
                    {%endif%}
                {%endfor%}    
             </select>
              </div>
            </div>
            <div class="form-group row">
                <label
                  for="fname"
                  class="col-sm-3 text-end control-label col-form-label"
                  ><h4>member</h4></label
                >
                <div class="col-sm-9">
                  <select name='txtmid'
                  class="select2 form-select shadow-none"
                  style="width: 100%; height: 36px">
                  
                  {%for member in members%}
                  {% if member == memberfunctions.member %}
                   <option value="{{member.member_id}}" selected readonly>{{member.name}}</option>
                  {% else%}
                  <option value="{{member.member_id}}">{{member.name}}</option> 
                        {%endif%}
                {%endfor%} 
               </select>
                </div>
              </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>amount</h4></label
              >
              <div class="col-sm-9">
                <input
                type='number' 
                name='qt'
                  class="form-control"
                  id="txtamount"
                  placeholder=""
                  value="{{memberfunctions.amount}}"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>pay date</h4></label
              >
              <div class="col-sm-9">
                <input
                type='number' 
                  name='txtdate'
                  class="form-control"
                  id="lname"
                  placeholder="amount"
                  value="{{memberfunctions.pay_date}}"
                  
                />
              </div>
            </div>
            <div class="form-group row">
                <label
                  for="lname"
                  class="col-sm-3 text-end control-label col-form-label"
                  ><h4>no of pass</h4></label
                >
                <div class="col-sm-9">
                  <input
                  type='number' 
                    name='txtpass'
                    class="form-control"
                    id="lname"
                    placeholder="amount"
                    value="{{memberfunctions.no_of_pass}}"
                    readonly
                  />
                </div>
              </div>
            
          </div>
          <div class="border-top">
            <div class="card-body">
              <center>
                <button type="submit" class="btn btn-primary">
                  <i class="me-2 mdi mdi-border-color"> Update
                  </i>
                 </button>
                 <button class="btn btn-primary">
                  <i class="me-2 mdi mdi-delete">
                    <a href='/deletefunction/{{memberfunctions.function.function_id}}/' 
                    onclick="return confirm ('Do you want to delete this row?')" 
                    style="color:white">Delete 
                  </i></a>
                </button>
                <button class="btn btn-primary">
                  <i class="me-2 mdi mdi-arrow-left">
                    <a href='/one_function/' 
                    style="color:white">Back
                  </i></a>
                </button>
                       &nbsp;<button type="reset" class="btn btn-primary"><i class="me-2 mdi mdi-restart">
                        Reset
                        </i>
                      </button>
                      </center>  
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock%}