{%extends "index1.html"%}
{%block demo%}
<div class="container-fluid" >
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3" >
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-view-dashboard"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Member<br>{{mcnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-success text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-chart-areaspline"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Occupant<br>{{ocnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-warning text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-collage"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Advertisement<br>{{acnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-danger text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-border-outside"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Booking<br>{{bcnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-info text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-arrow-all"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Committee<br>{{ccnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-danger text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-receipt"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Deposit<br>{{dcnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-pencil"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Function<br>{{fcnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-success text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-calendar-check"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Item<br>{{icnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-warning text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-alert"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Complaint<br>{{cocnt}}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white">
              {% comment %} <i class="mdi mdi-view-dashboard"></i> {% endcomment %}
            </h1>
            <h3 class="text-white">Income<br>{{incnt}}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-info text-center">
            <h1 class="font-light text-white">
            </h1>
            <h3 class="text-white">Expense<br>{{ecnt}}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-success text-center">
            <h1 class="font-light text-white">
            </h1>
            <h3 class="text-white">Maintenance<br>{{macnt}}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-warning text-center">
            <h1 class="font-light text-white">
            </h1>
            <h3 class="text-white">Notice<br>{{ncnt}}</h3>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
  </div>
{%endblock%}