{% extends "index1.html" %}
{% block demo%}
{% comment %}<h2 class="card-title">Table</h2>{% endcomment %}
<div class="card">
    <div class="card-body">
      
      <h3 class="card-title">Members of society</h3>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
                <th class="card-title"><h4>Id</h4></th>
                <th class="card-title"><h4>Name</h4></th>
                
                <th class="card-title"><h4>Contact no.</h4></th>
                <th class="card-title"><h4>Flat no.</h4></th>
                <th class="card-title"><h4>Block no.</h4></th>
                
                <th class="card-title"><h4>Member status</h4></th>
                
                <th class="card-title"><h4>Profile</h4></th>
                <th class="card-title"><h4>More detail</h4></th>
            </tr>
          </thead>
          <tbody>

         
        {% for member in members%}
            <tr>
            <td><h5>{{member.member_id}}</h5></td>
            <td><h5>{{member.name}}</h5></td>
           
            <td><h5>{{member.contact_no_field}}</h5></td>
            <td><h5>{{member.flat_no_field}}</h5></td>
            <td><h5>{{member.block_no_field}}</h5></td>
           
            <td><h5>{{member.member_status}}</h5></td>
            
            <td><img src="{{member.profile}}" height='70' width='90'></td>
            
            <td><a href='/memberdetail/{{member.member_id}}/'> <i class="me-2 mdi mdi-border-color">More detail</i></a></td>
                    
                </tr>
                {% endfor%}
            </tbody>
        </table>
        
            
          
          </div>
        </div>
{% endblock %}