{% extends "index1.html" %}
{% block demo %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><h3>Member function</h3></h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
                <th class="card-title"><h4>Member function id</h4></th>
                <th class="card-title"><h4>Function</h4></th>
                <th class="card-title"><h4>Member</h4></th>
                <th class="card-title"><h4>Amount</h4></th>
                <th class="card-title"><h4>Pay date</h4></th>
                <th class="card-title"><h4>No. of pass</h4></th>
                <th class="card-title"><h4>Show all detail</h4></th>
            </tr>
          </thead>
          <tbody>
         
                {% for memberfunction  in memberfunctions%}
                <tr>
                    <td><h5>{{memberfunction.member_function_id}}</h5></td>
                    <td><h5>{{memberfunction.function.function_name}}</h5></td>
                    <td><h5>{{memberfunction.member.name}}</h5></td>
                    <td><h5>{{memberfunction.amount}}</h5></td>
                    <td><h5>{{memberfunction.pay_date}}</h5></td>
                    <td><h5>{{memberfunction.no_of_pass}}</h5></td>

                    <td><a href='/editmemberfunction/{{memberfunction.member_function_id}}/' class="me-2 mdi mdi-eye-outline">show all detail</a></td>
                    
                </tr>
                {% endfor%}
            </tbody>
        </table><center>
        <button class="btn btn-primary">
          <i class="me-2 mdi mdi-arrow-left">
            <a href='/function/' 
            style="color:white">Back
          </i></a>
        </button></center>
        
        
          </div>
        </div>
{% endblock %}