{% extends "index1.html" %}
{% block demo %}
<div class="row">
  
  <div class="col-md-12">
    <div class="card">
      <form  action='/new_main1/' method='post' class="form-horizontal">
        {% csrf_token %}
          <div class="card-body">
            <h2 class="card-title" ><h3 align='center'>Add maintenance</h3></h2>
          <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 text-end control-label col-form-label"
                ><h4>Select month and year</h4> </label
              >
        <div class="col-sm-9">
          <input type="month" name="month" class="select2 form-select shadow-none">
        </div>
        </div>
        
                <div class="border-top">
                  <div class="card-body">
                    <center>
                      <button type="submit" class="btn btn-primary">
                        <i class="me-2 mdi mdi-border-color"> next
                        </i>
                       </button>
                    </center>
    </div>
                             
                </div>
            </div>
        </div>
      </div>
    </div>
        {% endblock %}
