{% extends "index1.html" %}
{% block demo %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><h3>Booking</h3> </h5>
      <div class="table-responsive">
        
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            
          </thead>
          <tbody>
            {% for booking in bookings%}
            
               <tr><td colspan='4'><center><b><h3>{{booking.event_name}}</h3></center></b></td>
                <td><a href='/editbooking/{{booking.booking_id}}/'><i class="me-2 mdi mdi-border-color"> edit</i></a></td></tr>
               <tr><td ><center><b><h3>{{booking.member.name}}</h3></center></b></td>
               <td ><center><b><h3>{{booking.starting_date}}</h3></center></b></td>
               <td><center><b><h3>{{booking.ending_date}}</h3></center></b></td>
               <td><center><b><h3>{{booking.status}}</h3></center></b></td></tr>
               
               

          <tr>
                    <th class="card-title"><h4>Id</h4></th>
                    <th class="card-title"><h4>Item</h4></th>
                    {% comment %} <th class="card-title"><h4>Member</h4></th> {% endcomment %}
                    <th class="card-title"><h4>Quantity</h4></th>
                    <th class="card-title"><h4>Amount</h4></th>
                    {% comment %} <th class="card-title"><h4>Starting date</h4></th> {% endcomment %}
                    {% comment %} <th class="card-title"><h4>Ending date</h4></th> {% endcomment %}
                    {% comment %} <th class="card-title"><h4>Status</h4></th> {% endcomment %}
                    {% comment %} <th class="card-title"><h4>edit</h4></th> {% endcomment %}
                    
                    
                </tr> 
                {% comment %} {% for bookingdetail  in bookingdetails%} {% endcomment %}
                
                    
                    
                    {% for bookingdetail  in bookingdetails%}
                    {% if booking == bookingdetail.booking%}
                       <tr>
                            <td><h5>{{bookingdetail.booking_detail_id}}</h5></td>
                            <td><h5>{{bookingdetail.item.item_name}}</h5></td>
                            {% comment %} <td><h5>{{bookingdetail.booking.member.name}}</h5></td> {% endcomment %}
                            <td><h5>{{bookingdetail.quantity}}</h5></td>
                            <td><h5>{{bookingdetail.amount}}</h5></td>
                            {% comment %} <td><h5>{{booking.starting_date}}</h5></td> {% endcomment %}
                            {% comment %} <td><h5>{{booking.ending_date}}</h5></td> {% endcomment %}
                            {% comment %} <td><h5>{{booking.status}}</h5></td> {% endcomment %}
                            
                            {% comment %} <td><a href='/edit_one_booking/{{bookingdetail.booking_detail_id}}/' ><i class="me-2 mdi mdi-border-color"> edit</i></a></td> {% endcomment %}
                            
                        </tr>
                    {%endif%} 
                    {% endfor%}

            {% endfor%}
            </tbody>
        </table>
        </div>
      </div>
        
        {% endblock %}