 {% extends "member1/index.html" %}
 {% block demo%}
 <div style='height:50px;width:100%'>
</div>
 <div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
            <table class="cart-table">
                <thead class="cart-table-head">
                    
                    <tr class="table-head-row">
                      
                       <th class="product-image"></th>
                        <th class="product-image">Product Image</th>
                        <th class="product-name">Name</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-quantity">Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {%for c in cart%}
                    <tr class="table-body-row">
                        <td class="product-remove"><a href="/deletecart/{{c.cart_id}}/"><i class="far fa-window-close" onclick='return confirm("Do you want to remove this item from cart")'></i></a></td>
                        <td class="product-image"><img src="{{c.item.image}}" alt=""></td>
                        
                        <td class="product-name">{{c.item.item_name}}</td>
                        <td class="product-price">{{c.rate }}</td>
                        <td class="product-price">{{c.quantity}}</td>
                        <td class="product-price">{{c.total }}</td>
                       

                    </tr>
                    
                    {% endfor%}
                </tbody>
            </table>
            <br>
            <center><a href='/mitem/'><button type="button" class="btn btn-primary"><i class="me-2 mdi mdi-restart">Add item</i></button></a></center>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="total-section">
            <table class="total-table">
                <thead class="total-table-head">
                    <tr class="table-total-row">
                        <th>Total</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-data">
                        <td><strong>Total: </strong></td>
                        <td>{{total}}</td>
                    </tr>
                    <input type='hidden' value={{total}} name='price'>
                    
                    
                </tbody>
            </table>
    </div>
    <form  action='/checkout/' method='post' class="form-horizontal">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                Event name
            </div>
        
                
                <div class="col-md-8">

                    <input class="contactus"   placeholder="" type="text"  name="event">                           
                 </div>
                 </div>
                 
                 <div class="row">
                    <div class="col-md-4">
                        starting date
                    </div>
                
                        
                        <div class="col-md-8">

                            <input class="contactus"   placeholder="" type="datetime-local"  name="sdt">                           
                         </div>
                         </div>
                         <div class="row">
                            <div class="col-md-4">
                                ending date
                            </div>
                        
                                
                                <div class="col-md-8">
    
                                    <input class="contactus"   placeholder="" type="datetime-local"  name="edt">                           
                                 </div>
                                 </div>
                    
                 
                 
        
            <div class="cart-buttons">
                <center><input type="submit" class="boxed-btn" value='Check Out'></center>
                
            </div>
    </form>
        </div>

        
        </div>
    </div>
</div>
 {% endblock%}