{% extends "member1/index.html" %}
{% block demo%}
<div style='height:50px;width:100%'>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">	
            <h3><span class="orange-text">My</span> Committee</h3>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-lg-10 ml-5 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                               
                                
                               
                                
                                <th class="product-total">committee</th>
                               
                                <th class="product-total">member_joining_date</th>
                                <th class="product-total">member_leaving_date</th>
                                
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for committeedetail in committeedetails%}
                            <tr>
                                <td>{{committeedetail.committee.work_of_committee}}</td>
                                
                                <td>{{committeedetail.member_joining_date}}</td>
                                <td>{{committeedetail.member_leaving_date}}</td>
                                
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>

            
        </div>
    
{% endblock%}